.import__terms {
    background-color: #f6f7fb;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .5s;
    visibility: hidden;
    z-index: -1;
}
.is__showing {
    -webkit-overflow-scrolling: touch;
    animation: slideDown .5s;
    overflow-y: scroll;
    position: fixed;
    transform: translateY(0);
    visibility: visible;
    z-index: 110;
}