:root {
  --twilight-500-gray-100: #4255FF;
  --gray_header: #2E3856;
  --gray-300-gray-800: lightgray;
  --gray-800-gray-100: #393a3f;
}

*, ::after, ::before{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}